<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/filebuttons.js"></script>
    <script type="text/javascript" src="/scripts/accountbuttons.js"></script>
    <script type="text/javascript" src="/scripts/updatetree.js"></script>
    <script type="text/javascript" src="/scripts/treegrowth.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
  </head>
  <body>
    <div id = "mainscreen">
      <div id = "navbar">
        <div id = "nav-tweak"> <!-- Make it accessible for all devices. -->
          <div id = "tree-info">
            <h3 id = "tree-info-title"><%= @the_tree!=nil ? @the_tree.name : "No Tree"%></h3>
            <p id = "tree-info-creator"><%= @tree_owner!=nil ? @tree_owner.username : "No Owner" %></p>
          </div>
          <div id = "tree-settings" style: "z-index: 1;">
            <div class = "button-and-dropdown">
              <% @cuser = User.find_by(username_hash: cookies[:activeuser]) %>
              <button onclick = "loadDropdown(this)" id = "file-button" data-dropdown = "file-dropdown" <%= @cuser==nil && @the_tree==nil ? "disabled" : "" %> >File</button>
              <ul id = "file-dropdown">
                <li id = 'new-tree-button'><p>New Tree</p></li>
                <li id = 'load-tree-button'><p>Load/Import Tree</p></li>
                <li id = 'delete-tree-button'><p style = "color: red;">Delete Tree</p></li>
              </ul>
            </div>
            <div class = "button-and-dropdown">
              <button onclick = "loadDropdown(this)" id = "views-button" data-dropdown = "views-dropdown" <%= "disabled" %>>Views</button>
              <ul id = "views-dropdown">
              </ul>
            </div>
            <div class = "button-and-dropdown">
              <button onclick = "loadDropdown(this)" id = "update-button" data-dropdown = "update-dropdown" <%= @the_tree==nil ? "disabled" : "" %> >Update</button>
              <ul id = "update-dropdown">
                <li id = 'tree-forward-button'><p>Go Forward</p></li>
                <li id = 'tree-stats-button'><p>Tree Statistics</p></li>
              </ul>
            </div>
            <div class = "button-and-dropdown">
              <button onclick = "loadDropdown(this)" id = "config-button" data-dropdown = "config-dropdown" <%= "disabled" %> >Config</button>
              <ul id = "config-dropdown">
                <li><p>Elem 1</p></li>
                <li><p>Elem 2</p></li>
                <li><p>Elem 3</p></li>
              </ul>
            </div>
            <div class = "button-and-dropdown">
              <button onclick = "loadDropdown(this)" id = "account-button" data-dropdown = "account-dropdown">Account</button>
              <ul id = "account-dropdown">
                <li id = 'signup-button'><p>Sign Up</p></li>
                <li id = 'login-button'><p><%= @cuser == nil ? "Login" : "Logout" %></p></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id = "treebox">
        <% if @the_tree == nil %>
          <h1> You currently aren't viewing a tree or the tree you are looking for does not exist.<br><br>Create or load one! </h1>
        <% else %>
          <% if @the_tree.is_private == true && @tree_owner.username_hash != cookies[:activeuser] %>
            <h1> The tree you are trying to view has been marked private by its owner. </h1>
          <% else %>
          <%
            branches = @the_tree.branch.all
            @branchinfo = Array.new(10000)
          %>
          <div id = 'tree'>
            <h1>Loading tree... sit tight!</h1>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id = "greybox"> <!-- All the pop-up boxes upon clicking. -->
      <div id = "newtreebox" class = "notifbox">
        <h1>Create Tree</h1>
        <% @cuser = User.find_by(username_hash: cookies[:activeuser]) %>
        <% if @cuser == nil %>
          <h2> You're not logged in, so you can't create a tree! </h2>
        <% else %>
          <form action='/tree/new' method='post'>
            <p>Tree Name:
            <input type='text' name='newtreename' id='newtreename'/>
            </p>
            <ul>
              <label class='radio'>
                <input type='radio' name='access' value='private'/>
                Private <!-- Capitalize every first letter in a word -->
              </label>
              <label class = 'radio'>
                <input type='radio' name='access' value='public'/>
                Public
              </label>
            </ul>
            <input type='hidden' name = 'resubmitcheck' value='ok'/>
            <button type='submit' class='confirm-button'><p>Create Tree!</p></button>
          </form>
        <% end %>
      </div>
      <div id = "loadtreebox" class = "notifbox">
        <h1>Load Tree</h1>
        <% cuser = User.find_by(username_hash: cookies[:activeuser]) %>
        <% if cuser == nil %>
            <h2> You're not logged in, so you can't load a tree! </h2>
        <% else %>
            <ul>
              <% cuser.tree.each do |t| %>
                <li><a href = '/tree/<%=t.id_str%>'><%=t.name%></a> (<%= (t.is_private==true)?"Private":"Public" %>)</li>
              <% end %>
              <% if cuser.tree.size == 0 %>
                <h2>You don't have any trees, so you'll have to make a new one.</h2>
              <% end %>
            </ul>
        <% end %>
      </div>
      <div id = "deletetreebox" class = "notifbox">
        <h1>Delete Tree</h1>
        <% if @the_tree == nil %>
            <h2> You're not viewing a tree, so you can't delete it! </h2>
        <% else %>
          <% if @tree_owner.username_hash != cookies[:activeuser] %>
            <h2> You can't delete a tree that doesn't belong to you! </h2>
          <% else %>
            <h2> Are you absolutely sure you want to delete your tree? </h2>
            <form action = '/delete/<%=@the_tree.id_str%>' method='destroy'>
              <button class = 'confirm-button' style = 'background-color: red;' onclick = 'window.location.href = "/delete/<%=@the_tree.id_str%>";'><p>Delete It!</p></button>
            </form>
          <% end %>
        <% end %>
      </div>
      <div id = "signupbox" class = "notifbox">
        <h1>Sign Up</h1>
        <form action='/user/new' method='post'>
          <p>Username:
          <input type='text' name='username' id='newtreename'/>
          </p>
          <p>Password:
          <input type="password" name='password' id='newtreename'/>
          </p>
          <button type='submit' class='confirm-button'><p>Sign Up!</p></button>
        </form>
      </div>
      <div id = "loginbox" class = "notifbox">
        <h1>Login/Logout</h1>
        <% @cuser = User.find_by(username_hash: cookies[:activeuser]) %>
        <% if @cuser == nil %>
          <form action='/login' method='post'>
            <p>Username:
            <input type='text' name='username'/>
            </p>
            <p>Password:
            <input type="password" name='password' id = 'password'/>
            </p>
            <button type='submit' class='confirm-button'><p>Login!</p></button>
          </form>
        <% else %>
          <h2> You're currently logged in as <%= @cuser.username %>. </h2>
          <button class = 'confirm-button' onclick = 'window.location.href = "/logout"'><p>Logout</p></button>
        <% end %>
      </div>
      <div id = "treegrowthbox" class = "notifbox">
        <h1>Tree Growing</h1>
        <% if @tree_owner == nil || @the_tree == nil %>
          <h2>You're not viewing a tree, so you can't make it grow.</h2>
        <% else %>
          <% if @tree_owner.username_hash != cookies[:activeuser] %>
            <h2> You shouldn't tamper with a tree that isn't yours. </h2>
          <% else %>
          <div id = "togrowtext">
            <h2> Select how many days you want to accelerate your tree by. </h2>
              <div id = "treegrowthnumholder">
                <p>Maximum of 999</p>
                <input type="number" name="numdays" id = "num_days_grow" min="1" max="999">
                <p>Minimum of 1</p>
              </div>
              <button onclick = "incr_tree();" class='confirm-button'><p>Grow Tree</p></button>
         </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <script>
      function update_treeview(TG)
      {
        $('#tree').html("");
        var branches = TG.get_branches();
        var treesvg = d3.select("#tree").append("svg")
                                        .attr("id","treesvg")
                                        .attr("width",800)
                                        .attr("height",600);
        for (var key in branches)
        {
          var l = TG.compBranchInfo(branches[key]);
          treesvg.append("line")
                 .attr("x1",l.get_x1())
                 .attr("x2",l.get_x2())
                 .attr("y1",l.get_y1())
                 .attr("y2",l.get_y2())
                 .attr("stroke-width",5)
                 .attr("stroke","#654321");
        }
      }
      <% if @the_tree != nil %>
        var days_to_grow = 0;
        var growth_interval = 50;
        var LBID = <%= @the_tree.last_branch_id %>;
        var BDICT = {};
        <% @the_tree.branch.all.each do |branch| %>
          BDICT[<%= branch.branch_id %>] = new Branch(
            branch_id=<%= branch.branch_id %>,
            age=<%=branch.age%>,
            parent_id=<%=branch.parent_id%>,
            anglex10=<%=branch.anglex10%>,
            length=<%=branch.length%>,
            sumdevx10=<%=branch.sumdevx10%>,
            factor=<%=branch.factor%>,
            time_since_last_split=<%=branch.time_since_last_split%>,
            num_children=<%=branch.num_children%>,
            generation=<%=branch.generation%>,
            has_split=<%=branch.has_split%>,
            is_split_child=<%=branch.is_split_child%>
          );
        <% end %>
        var TG = new TreeGrowth(BDICT,LBID);
        update_treeview(TG);
      <% end %>
      $(document).click(function(event){
        $target = $(event.target);
        if($('#greybox').css("display") != "none"){
          var allboxes = $("#greybox").children();
          for(var i = 0; i < allboxes.length; i++){
            if($(allboxes[i]).css("display") != "none" && !$target.closest(allboxes[i]).length){
              $('#greybox').css("display","none");
              $(allboxes[i]).css("display","none");
            }
          }
        }
        if($('#new-tree-button').css("visibility") != "hidden" && $target.closest('#new-tree-button').length){
          newtree();
        }
        if($('#load-tree-button').css("visibility") != "hidden" && $target.closest('#load-tree-button').length){
          loadtree();
        }
        if($('#delete-tree-button').css("visibility") != "hidden" && $target.closest('#delete-tree-button').length){
          deletetree();
        }
        if($('#signup-button').css("visibility") != "hidden" && $target.closest('#signup-button').length){
          signup();
        }
        if($('#login-button').css("visibility") != "hidden" && $target.closest('#login-button').length){
          login();
        }
        if($('#tree-forward-button').css("visibility") != "hidden" && $target.closest('#tree-forward-button').length){
          treegrowth();
        }
        if(!$target.closest('#file-button').length && $('#file-dropdown').is(":visible")){
          $('#file-dropdown').css("visibility","hidden");
        }
        if(!$target.closest('#views-button').length && $('#views-dropdown').is(":visible")){
          $('#views-dropdown').css("visibility","hidden");
        }
        if(!$target.closest('#update-button').length && $('#update-dropdown').is(":visible")){
          $('#update-dropdown').css("visibility","hidden");
        }
        if(!$target.closest('#config-button').length && $('#config-dropdown').is(":visible")){
          $('#config-dropdown').css("visibility","hidden");
        }
        if(!$target.closest('#account-button').length && $('#account-dropdown').is(":visible")){
          $('#account-dropdown').css("visibility","hidden");
        }
      });
      function block_growth(){
        $('#togrowtext').html(
        "<h2> Your tree is still growing! Please wait for it to finish. </h2>\n<h3> Your tree still has " + days_to_grow + " days to grow. </h3>");
      }
      function unblock_growth(){
        $('#togrowtext').html('<h2> Select how many days you want to accelerate your tree by. </h2><div id = "treegrowthnumholder"><p>Maximum of 999</p><input type="number" name="numdays" id = "num_days_grow" min="1" max="999">  <p>Minimum of 1</p></div><button onclick = "incr_tree();" class="confirm-button"><p>Grow Tree</p></button>');
      }

      <% if @the_tree != nil %>
        function check_and_grow(TG)
        {
          if(days_to_grow != 0){
            days_to_grow -= 1;
            TG.grow_tree();
            update_treeview(TG);
            block_growth();
          }
          if(days_to_grow == 0) unblock_growth();
        }
        window.setInterval(function(){
          if(days_to_grow > 0) check_and_grow(TG);
        }, growth_interval);
      <% end %>

      function incr_tree()
      {
        days_to_grow = $("#num_days_grow").val();
        block_growth();
        $("#greybox").css("display","none");
        $("#treegrowthbox").css("display","none");
      }

    </script>
  </body>
</html>
